<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<f:facet name="first">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
	</f:facet>
	<link rel="icon" type="image/ico"
		href="/titulacion/resources/utmach-layout/images/favicon.ico" />
	<title>Titulación</title>
	<h:outputScript name="js/layout.js" library="spark-layout" />
	<h:outputScript name="js/funciones.js" library="utmach-layout" />

	<h:outputText value="&lt;!--[if gte IE 9]&gt;" escape="false" />
	<style type="text/css">
/* styles for IE 9 */
</style>
	<h:outputText value="&lt;![endif]--&gt;" escape="false" />

	<ui:insert name="head" />
</h:head>

<h:body>

	<p:growl id="mensajes" showDetail="true" life="7000"
		showSummary="false" />

	<div id="layout-portlets-cover">
		<div
			class="other-pages-box Container40 Responsive50 MarAuto Fnone TexAlCenter ShadowGray MarTop10"
			style="margin-top: 5%; background-image: url(/titulacion/resources/spark-layout/images/loginpageillust.svg); background-repeat: no-repeat; background-position: center; background-size: cover;">
			<div class="Container90 Fnone MarAuto TexAlCenter">
				<div class="EmptyBox50"></div>
				<h:graphicImage name="images/LOGO.png" library="utmach-layout"
					styleClass="MarAuto MarTop20 MarBot10" />
				<div class="EmptyBox20"></div>
				<form action='${loginUrl}' method='post'>
					<p:inputText id="username" value=""
						placeholder="Correo Electrónico Institucional"
						style="text-align: center;"
						styleClass="Container80 Fnone MarAuto Fs18" />
					<div class="EmptyBox10"></div>
					<p:inputText id="password" type="password" value=""
						placeholder="Contraseña" style="text-align: center;"
						styleClass="Container80 Fnone MarAuto Fs18" feedback="false" />

					<div class="EmptyBox20"></div>
					<div class="Seperator"></div>
					<div class="EmptyBox10"></div>

					<input type="hidden" name="${_csrf.parameterName}"
						value="${_csrf.token}" />
					<button id="login" name="login" type="submit"
						class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-only Fs16 Wid150"
						role="button" aria-disabled="false">
						<span class="ui-button-text ui-c"
							style="background-color: #33AFDE;">Ingresar</span>
					</button>
				</form>
				<div class="EmptyBox10"></div>
				<p:button value="¿Olvidaste tu contraseña?"
					outcome="obtenerContrasena.jsf" styleClass="Wid150" />
				<p:button value="Manual de usuario" target="_blank"
					href="https://docs.google.com/document/d/1v2zxmlngygLj9kjpfPNVI8l9CGizH58JBYcxMLXBX_8/edit?usp=sharing"
					styleClass="Wid150" />
				<div class="EmptyBox20"></div>
			</div>
		</div>
	</div>

	<p:ajaxStatus id="ajax" onstart="PF('statusDialog').show()"
		onsuccess="PF('statusDialog').hide()" />
	<p:dialog widgetVar="statusDialog" modal="true" draggable="false"
		closable="false" resizable="false" showHeader="false">
		<p:graphicImage name="images/preloader.gif" library="spark-layout" />
	</p:dialog>

	<h:outputStylesheet name="css/core-layout.css" library="spark-layout" />
	<h:outputStylesheet name="css/font-awesome.css" library="spark-layout" />
	<h:outputStylesheet name="css/animate.css" library="spark-layout" />
	<h:outputStylesheet name="css/spark-layout.css" library="spark-layout" />
	<h:outputStylesheet name="css/estilos.css" library="utmach-layout" />
</h:body>

</html>